  /*---------------BODY-----------*/
  body {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     height: 100%;
     background-color: #ffffff;
 }
  /*---------------HEADER-----------*/
header {
      font-family: 'Poppins', sans-serif;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 nav {
     margin-top: 20px; /* Ajusta el valor según el espacio deseado */
 }
  .nav-item {
      margin-right: 15px;
  }
  header .navbar-nav .nav-link {
      font-size: 16px;
      font-weight: 600;
      color: #1e5552;
  }
  header .navbar-nav .nav-link:hover {
      text-decoration: underline;
      text-decoration-color: #1e5552;
      text-decoration-style: wavy;
      text-underline-offset: 10px;
  }

 /*Dropdown*/
 .navbar-light .navbar-nav .nav-link,
 .navbar-light .dropdown-menu {
     background-color: #ffffff;
     color: #1e5552;
     font-size: 16px;
     font-weight: normal;
     align-items: center;
 }

 .btn2 {
     border-radius: 10px; /* Bordes redondeados */
     padding: 10px 10px; /* Espaciado interno para que se vean mejor */
     width: 150px; /* Ancho fijo, ajusta según tus necesidades */
     margin-bottom: 10px; /* Espacio entre los botones */
     border: none; /* Eliminar borde predeterminado */
     cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
     font-size: 16px; /* Tamaño de fuente */
     display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
     vertical-align: middle; /* Alinea verticalmente con otros elementos en línea */
     margin-right: 10px; /* Espacio a la derecha para alinearlo con otros elementos */
     text-align: center; /* Alinea el texto al centro */
 }

 .btn2-submit {
     background-color: #1e5552;
     color: white;
     font-size: 16px;
     font-weight: normal;
 }

 .navbar-light .dropdown-menu {
     width: 200px;
 }
 .navbar-light .dropdown-menu a.dropdown-item {
     color: #1e5552;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     font-weight: normal;
     width: 200px;
 }

 .navbar-light .dropdown-menu a.dropdown-item:hover {
     background-color: #ffffff;
     margin: 0;
     width: 200px;
 }

 /*fin dropdown*/

  /*----------INICIO-------*/

 .btn-donar {
     background-color: #002B80;
     color: white;
     padding: 10px 20px;
     border-radius: 10px;
      font-weight:600;
 }
  .btn-donar:hover {
      background-color: #00215c;
      text-decoration: none;
  }

 #contenedor-inicio {
    margin-bottom: 100px !important;
    margin-top: 100px !important;
    font-family: 'Poppins', sans-serif !important;
}
  #bienvenido{
  font-weight:700;
  color:#1e5552;
  font-size: 96px;
  }

 .image-placeholder {
     border-radius: 8px;
     text-align: center;
 }

 h5 {
     margin: 0; /* Elimina márgenes por defecto */
     white-space: nowrap; /* Evita que el texto haga salto de línea */
     color: white; /* Color de texto */
 }

 .btn2-submit {
     background-color: #1e5552;
     color: white;
     font-size: 16px;
     font-weight: normal;
 }

 .footer-bg {
     background-color: #B7C9C7; /* Color de fondo */
     padding: 20px 0; /* Espaciado superior e inferior */
 }
 .social-icons a {
     margin-right: 15px; /* Espacio entre iconos de redes sociales */
     color: white; /* Color de texto para iconos */
 }
 .footer-link {
     color: white; /* Color de texto para enlaces */
     text-decoration: none; /* Eliminar subrayado */
 }
 .footer-link:hover {
     text-decoration: underline; /* Subrayar al pasar el mouse */
 }

 .social-icon {
     margin-right: 10px; /* Espacio entre el ícono y el texto */
 }


  .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #333;
  }
  .content h1 {
      font-size: 10rem;
      margin: 0;
  }
  .content p {
      font-size: 1.5rem;
      margin: 10px 0;
  }
  .content a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #007B5E;
      color: white;
      text-decoration: none;
      border-radius: 5px;
  }