<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>

        main {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            background-color: white;
            height: 100vh;
        }



        .main-content h1 {
            font-size: 48px;
            margin: 0;
        }

        .main-content p {
            font-size: 20px;
            color: #666;
        }

        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }

        .btn2-submit {
            background-color: #1e5552;
            color: white;
            font-size: 16px;
            font-weight: normal;
        }

        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #333;
        }
        .content h1 {
            font-size: 10rem;
            margin: 0;
        }
        .content p {
            font-size: 1.5rem;
            margin: 10px 0;
        }
        .content a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007B5E;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

    </style>
</head>
<body>

{{> header}}

<main class="content">
    <h1>404</h1>
    <p>Página no encontrada</p>
    <a href="/inicio">Volver al inicio</a>
</main>

{{> footer}}

<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>