<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto agregado</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .validation-container {
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .btn-volver {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: #1e5552;
            border-radius: 10px;
        }

        .btn-volver:hover {
            background-color: #114c49;
            color: white;
        }

        h4 {
            font-size: 16px; /* Ajusta el tamaño de la fuente de los headers */
        }

    </style>
</head>

<body>

{{> header}}

<main>
    <div class="validation-container">
        <h2>Producto agregado correctamente</h2>
        <a href="/catalogoProductos" class="btn-volver">Volver al catálogo</a>
    </div>
</main>

{{> footer}}

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>