<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladera agregada correctamente!</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
        }

        .validation-container {
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 16px;
            color: #666;
        }

        .info-container {
            display: flex; /* Habilita Flexbox para el contenedor */
            flex-direction: column; /* Coloca los elementos en una columna */
            margin-bottom: 20px; /* Espacio debajo del contenedor */
        }

        .info-container a {
            margin-bottom: 5px; /* Espacio entre los enlaces */
            color: white; /* Color del texto */
            text-decoration: none; /* Quita el subrayado de los enlaces */
        }
        h4 {
            font-size: 16px; /* Ajusta el tamaño de la fuente de los headers */
        }
        .social-icons a {
            margin: 0 20px; /* Espacio horizontal entre íconos */
        }

        .btn-volver {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            background-color: #1e5552;
            border-radius: 10px;
        }

        .btn-volver:hover {
            background-color: #114c49;
            color: #ffffff;
        }

    </style>
</head>

<body>

{{> header}}

<main>
    <div class="validation-container">
        <h2>Heladera agregada correctamente!</h2>
        <p>Gracias por tu contribución. ¡Ya podés verla en el mapa!</p>
        <a href="/inicio" class="btn-volver">Volver al inicio</a>
    </div>
</main>

{{> footer}}
<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>