<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del Perfil</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .form-section {
            margin-bottom: 30px;
            border-color: #B8CCC8;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-control {
             color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
        }
        .btn-submit {
            background-color: #1e5552;
            color: white;
        }


       .alta-masiva {
           text-align: right;
           margin-left: 450px;
           margin-right: 0;
           display: block;
           color: #adb5bd;
       }

        h3 {
            margin: 0;
            white-space: nowrap;
        }
        h5 {
            margin: 0;
            white-space: nowrap;
            color: white;
        }

        h1, h2, h3, h5, h6 {
            font-size: 19px;
            font-weight: bold;
        }
        h4 {
            font-size: 16px;
        }
        .profile-container {
            margin-top: 50px;
        }
        .profile-photo {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }
        .profile-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info-group {
            margin-bottom: 20px;

        }

        .label {
            font-size: 1.25rem;
            font-weight: bold;
        }
        .value {
            font-size: 1rem;
            font-weight: normal;
        }
        .points {
            font-size: 1.5rem;
            color: #1e5552;
        }

        .labelDesplegable {
            font-size: 0.8rem;
            font-weight: bold;
            width : 310px;
            height : 30px;
             color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
        }

    </style>
</head>
<body>
{{> header}}

<main class="container profile-container">
    <div class="row">
        <div class="col-md-3">
            <img src="/static/user-photo.png" alt="Foto del usuario" class="profile-photo">
        </div>
        <div class="col-md-9 profile-info">
            <form action="/configurarPerfil" method="post">
            {{#esPersonaHumana}} <!--  PERSONA HUMANA  -->
                <div class="info-group">
                    <label for="nombre" class="label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}">
                </div>
                <div class="info-group">
                    <label for="apellido" class="label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" value="{{apellido}}">
                </div>
                <div class="info-group">
                    <label for="fechaNacimiento" class="label">Fecha De Nacimiento</label>
                    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" value="{{fechaNacimiento}}">
                </div>
                <div class="info-group">
                    <label for="direccion" class="label">Domicilio</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" value="{{direccion}}">
                </div>
                <div class="info-group">
                    <label for="telefono" class="label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="{{telefono}}">
                </div>
                <div class="info-group">
                    <label for="email" class="label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                </div>
                <div class="info-group" style="display: flex; justify-content: flex-start;">
                    <p class="label" style="margin: 0; margin-right: 30px;">Documento</p>
                    <p class="alta-masiva" style="margin: 0;"><b><i>Para modificar el numero o tipo de documento comunicarse a: user@gmail.com.</i></b></p>
                </div>
            {{/esPersonaHumana}}
            {{#esPersonaJuridica}} <!--  PERSONA JURIDICA  -->
                <div class="info-group">
                    <label for="nombre" class="label">Razon Social</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}">
                </div>
            <!-- COCO - DECIDI COMENTARLO PORQUE CUIT ES ALGO MUY ESPECIFICO, QUE SOLICITE EL CAMBIO A UN MAIL O ALGO ASI
                <div class="info-group">
                    <label for="cuit" class="label">CUIT</label>
                    <input type="hidden" class="form-control" id="cuitViejo" name="cuitViejo" value="{{cuit}}">
                    <input type="text" class="form-control" id="cuit" name="cuit" value="{{cuit}}">
                </div>
                -->
                <div class="info-group">
                    <label for="tipoJuridico" class="label">Tipo Juridico actual</label>
                    <select class="labelDesplegable" id="tipo" name="tipoJuridico" required>
                        <option value="0">{{tipoJuridico}}</option>
                        <option value="1">Gubernamental</option>
                        <option value="2">Organización No Gubernamental</option>
                        <option value="3">Empresa</option>
                        <option value="4">Institución</option>
                    </select>
                </div>
                <div class="info-group">
                    <label for="rubro" class="label">Rubro actual</label>
                    <select class="labelDesplegable" id="rubro" name="rubro" required>
                        <option value="0">{{rubro}}</option>
                        <option value="1">Gastronomía</option>
                        <option value="2">Electrónica</option>
                        <option value="3">Articulos para el hogar</option>
                    </select>
                </div>
                <div class="info-group">
                    <label for="direccion" class="label">Domicilio</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" value="{{direccion}}">
                </div>
                <div class="info-group">
                    <label for="telefono" class="label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="{{telefono}}">
                </div>
                <div class="info-group">
                    <label for="email" class="label">Mail</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                </div>
                <div class="info-group" style="display: flex; justify-content: flex-start;">
                    <p class="label" style="margin: 0; margin-right: 30px;">CUIL</p>
                    <p class="alta-masiva" style="margin: 0;"><b><i>Para modificar el CUIL comunicarse a: user@gmail.com.</i></b></p>
                </div>
            {{/esPersonaJuridica}}

                {{#notificacionCambio}}
                    <div class="text-{{tipo}}">{{mensaje}}</div>
                {{/notificacionCambio}}

                <button type="submit" class="nav-link, btn btn-submit" href="perfil">Guardar cambios</button>
            <p>  </p>
            </form>
        </div>
    </div>
</main>

{{> footer}}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>