<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 70px;
            padding: 60px;
            height: 70vh; 

        }

        .register-container {
            max-width: 600px;
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        .register-container button {
            width: 100%;
            padding: 15px;
            background-color: #1e5552;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 20px;
        }


    </style>
</head>

<body>

{{> header}}

<main class="container d-flex justify-content-center" >
    <div class="register-container">
        {{#registroSSO}}
            <button onclick="location.href='/crearCuentaJuridicaSSO'">Registrarse como Persona Jurídica</button>
            <button onclick="location.href='/crearCuentaFisicaSSO'">Registrarse como Persona Física</button>
        {{/registroSSO}}
        {{^registroSSO}}
            <button onclick="location.href='/crearCuentaJuridica'">Registrarse como Persona Jurídica</button>
            <button onclick="location.href='/crearCuentaFisica'">Registrarse como Persona Física</button>
        {{/registroSSO}}
    </div>
</main>

{{> footer}}

<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
