<!-- Aca deberia llegar con el link que reciba en el mail -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias!</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        main {
            flex-grow: 1;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            height: 90vh; 
        }

        .validation-container {
            max-width: 600px;
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .heladera-list {
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 8px;
            max-height: 200px;
        }

        .heladera-item {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            max-height: 180px;
            display: flex;
            flex-direction: column;
        }

        .heladera-item h5 {
            font-size: 16px;
            font-weight: bold;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .btn-volver,
        .btn-add,
        .btn-donate,
        .btn-subscribe {
            background-color: #1e5552;
            color: white;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
        }

        .btn-volver:hover, .btn-donate:hover, .btn-subscribe:hover {
            background-color: #114c49;
            color: white;
        }

        .btn-volver2:hover {
            background-color: #B7C9C7;
            color: #114c49;
        }

        .btn-volver2{
            background-color: #B7C9C7;
            color: #1e5552;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
        }

        .form-donation {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input {
            border-radius: 8px;
            padding: 8px;
        }

        p {
            font-size: 16px;
            color: #666;
        }

        @media (max-width: 768px) {
            .card {
                max-width: 100%;
            }
        }

        .navbar {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }

        .navbar-nav {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .nav-link {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }

        .dropdown-menu {
            margin-top: 0;
        }

        .dropdown {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            right: 0;
            top: 100%;
            min-width: 160px;
        }

        .dropdown-content a,
        .dropdown-content label {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

</head>
<body>

{{> header}}

<main class="container d-flex justify-content-center">
    <div class="validation-container">
        <h1>¡Gracias por tu Donación!</h1>
        <p>Se sumarán tus puntos por tu colaboración.</p>
        <a href="/elegirDonacion" class="btn-volver">Volver a donar</a>
        <a href="/inicio" class="btn-volver2">Volver a Inicio</a>
    </div>
</main>

{{> footer}}

<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>