<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Vulnerable</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f5f5f5;
        }

        header, footer {
            background-color: #e0e0e0;
            padding: 20px 50px;
            text-align: center;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header nav a {
            margin-left: 20px;
            text-decoration: none;
            color: black;
        }

        .btn-donar {
            background-color: #3b559d;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 10px;
        }

        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .validation-container {
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 16px;
            color: #666;
        }

        footer {
            display: flex;
            justify-content: space-between;
        }

        footer div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 30px;
        }

        footer div a {
            margin-top: 10px;
            text-decoration: none;
            color: black;
        }

        .btn-inicio {
            background-color: #313937;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
<header>
    <div><img src="/static/logo.png" alt="Logo" style="max-height: 50px;">
        <a href="/inicio" class="btn-inicio">Inicio</a>
    </div>
    <nav>
        <a href="#">Sobre nosotros</a>
        <a href="/mapaHeladeras">Heladeras</a>
        <a href="/elegirDonacion" class="btn-donar">Donar</a>
    </nav>
</header>

<main>
    <div class="validation-container">
        <h1>Se agrego exitosamente la heladera</h1>
        <p>Ya se puede visualizar en el mapa!</p>
    </div>
</main>

<footer>
    <div>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
    </div>
    <div>
        <a href="#">Contacto</a>
        <a href="#">Ayuda</a>
    </div>
</footer>
</body>
</html>
