<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Administrador</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .btn-admin{
            background-color: #002B80;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight:600;
            margin-right: 20px;
        }
        .btn-admin:hover {
            background-color: #00215c;
            text-decoration: none;
        }

        #contenedor-inicio-admin {
            margin-bottom: 100px !important;
            margin-top: 100px !important;
            font-family: 'Poppins', sans-serif !important;
        }
        #bienvenido-m{
            font-weight:700;
            color:#1e5552;
            font-size: 80px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            text-align: center;
            border-radius: 20px;
            width: 50%;
        }

        .close {
            color: #aaa;
            position: absolute;
            right: 9px;
            top: 8px;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .btn-submit {
            background-color: #1e5552;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20px;
        }

        .btn-submit:hover {
            background-color: #083331;
        }
        .email-input {
            border-radius: 20px;
            padding: 7px;
            width: 100%;
            margin-bottom: 10px;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

    </style>

</head>

<body>

{{>header}}

<main class="d-flex justify-content-center align-items-center">
    <div class="container m-5 d-flex justify-content-center align-items-center" id="contenedor-inicio-admin">
        <div class="main-content mr-5">
            <h1 class="mb-3" id="bienvenido-m">Bienvenido moderador!</h1>
            <h3 class="mb-3">Estas en una cuenta con permisos de administrador.</h3>
            <button class="btn-admin" onclick="window.location.href='/cargarCSV'">Cargar CSV</button>
            <button class="btn-admin" onclick="window.location.href='/registrarTecnico'">Dar de alta Técnico</button>
            <button class="btn-admin mt-3" onclick="openModal()">Asignar nuevo Administrador</button>
        <!--
            <div class="mt-3" style="display: none;">
                <button class="btn-admin" onclick="input()">Dar de baja colaborador</button>
                <div id="darBaja">
                    <label>Ingresar (dato) del colaborador</label>
                    <input type="text">
                    <button>Cancelar</button>
                    <button>Dar de baja</button>
                </div>

            </div> -->

        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>Correo electrónico:</p>
                <input type="email" id="email" name="email" required class="email-input">
                <div class="modal-spacing"></div>
                <button class="btn-submit" onclick="submitEmail()">Asignar administrador</button>
            </div>
        </div>
        <div class="image-placeholder ml-5">
            <img src="/static/home.png" alt="Imagen" style="max-width: 100%; max-height: 100%; border-radius: 8px;">

        </div>
    </div>

</main>
{{>footer}}


<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    function submitEmail() {
        var email = document.getElementById("email").value;

        alert("Correo electrónico asignado!");
        closeModal();
        window.location.href = '/registrarNuevoAdmin';

    }

</script>

</body>
</html>