<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canjear puntos</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>


        main {
            flex-grow: 1;
            padding: 50px;
            background-color: white;
            height: 80vh;
        }

        .btn-donar {
            background-color: #1e5552;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
        }

        .main-content {
            max-width: 50%;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .main-content p {
            font-size: 20px;
            color: #666;
        }

        .image-placeholder {
            width: 40%;
            height: 300px;
            background-color: #ccc;
            border-radius: 8px;
            text-align: center;
            line-height: 300px;
            color: #666;
        }

        .puntaje {
            background-color: #1e5552;
            color:white;
            padding: 20px;
            text-align:center;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        .catalog-item, .view-more {
            background-color: #d9ede8;
            padding: 10px;
            text-align: center;
            border-radius: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            max-width: 200px;
            min-height: 250px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .catalog-item img, .view-more img {
            width: 90%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 8px;
        }

        .view-more a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }

        .header-title {
            font-weight: 800;
        }

        .sub-header {
            margin: 0;
            font-weight: 600;

        }

        .btn-group {
            display: flex;  /*Usar Flexbox para la alineación */
            flex-direction: row; /* Colocar los botones uno al lado del otro */
            justify-content: center; /* Alinear los botones al margen derecho */
            gap: 3px; /* Espacio entre los botones */
            margin: 0px 0 5px 800px; /* Margen superior e inferior de 20px y margen izquierdo de 20px */
            width: 280px;
            height: 70px;
            justify-content: center;
            align-items: center; /* Centrar verticalmente */

        }

        .btn {
            border-radius: 10px; /* Bordes redondeados */
            padding: 10px 0px; /* Espaciado interno para que se vean mejor */
            width: 150px; /* Ancho fijo, ajusta según tus necesidades */
            margin-bottom: 10px; /* Espacio entre los botones */
            border: none; /* Eliminar borde predeterminado */
            cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
            font-size: 16px; /* Tamaño de fuente */

        }

        .puntaje-column {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: flex-end; /* Alinear los botones al margen derecho */
        }

        .catalog-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .info-container a {
            margin-bottom: 5px; /* Espacio entre los enlaces */
            color: white; /* Color del texto */
            text-decoration: none; /* Quita el subrayado de los enlaces */
        }
        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }

        .form-canjear {
            margin-top: 10px;
        }

        .add-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #1e5552;
            color: white;
            width: 200px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            text-align: center;
            border-radius: 30px;
            z-index: 1000;
        }

        .add-button:hover {
            background-color: #1e5552;
            color: white;
        }


        .add-button i {
            margin-right: 10px;
        }

    </style>
</head>
<body>

{{> header}}

<main>
    <div style="display: inline-flex; gap: 20px">
        <h3 class="header-title">Mis canjes:</h3>

        <div class="btn-group">
            <div class="puntaje">
                <p class="sub-header">Puntos acumulados: {{puntos}}</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <div class="catalog-row">
                    {{#ofertas}}
                        <div class="col-md-3">
                            <div class="catalog-item">
                                <img src="https://comunidades-solidarias.onrender.com/images/{{imagen}}" alt="Descripción">
                                <p>{{nombre}}</p>
                                <p>{{descripcion}}</p>
                            </div>
                        </div>
                    {{/ofertas}}
                </div>
            </div>
        </div>
    </div>
</main>

<!-- botón flotante -->
<a class="add-button" href="/canjearPuntos">
    <i class="fas fa-plus"></i> Canjear mas productos
</a>

{{> footer}}


<script>
    function filterOffers() {
        const filterSelect = document.getElementById('filterSelect');
        const selectedValue = filterSelect.value;
        let url = '/canjearPuntos';
        if (selectedValue) {
            url += `?tipoOferta=${selectedValue}`;
        }
        window.location.href = url;
    }
</script>
<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
