<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reportes</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        main {
            flex-grow: 1;
            padding: 20px;
            background-color: white;
        }

        .reportes-container {
            max-width: 2000px;
            margin: 50px auto;
            width: 90%;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .reporte {
            background-color: #d9ede8;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .reporte-info {
            display: flex;
            flex-direction: column;
        }

        .reporte-info p {
            margin: 0;
            font-size: 14px;
            color: #555;
        }

        .reporte-info h2 {
            font-size: 18px;
            margin: 0;
        }

        .download-icon {
            font-size: 18px;
            color: black;
            cursor: pointer;
            margin-right: 15px;
        }

        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }

        .btn-generar {
            background-color: #B8CCC8;
            color: #1e5552;
            padding: 10px 20px;
            border-radius: 10px;
            border-width: 0px;
            font-weight: 500;
        }

        .btn-generar:hover {
            background-color: #94a6a3;
            text-decoration: none;
        }

        .btn-generar:active {
            border-width: 0px;
        }
    </style>
</head>
<body>

{{> header}}

<main>

    <div class="reportes-container">
        <div class="mb-5 d-flex justify-content-between align-items-center">
            <h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1e5552">Mis reportes</h1>
            <button class="btn-generar" onclick="window.location.href='/generarReportes'">Generar reporte</button>
        </div>

        <div id="reportes">

            <!-- Reporte 1 -->
            {{#grupoReportes}}
                {{#hayDatos}}
                    <p> <b> Fecha del Reporte: </b> {{fechaCreacion}}</p>
                    <div class="reporte">
                        <div class="reporte-info">
                            <h3>Cantidad de Viandas por colaborador</h3>
                        </div>
                        <a href="{{pathReporteColaborador}}" download="ReporteColaborador.csv">Descargar CSV</a>
                    </div>

                    <!-- Reporte 2 -->
                    <div class="reporte">
                        <div class="reporte-info">
                            <h3>Cantidad de Fallas por Heladera</h3>
                        </div>
                        <a href="{{pathReporteHeladeraFallas}}" download="ReporteHeladeraFallas.csv">Descargar CSV</a>
                    </div>

                    <!-- Reporte 3 -->
                    <div class="reporte">
                        <div class="reporte-info">
                            <h3>Cantidad de Viandas Retiradas/Colocadas por Heladera</h3>
                        </div>
                        <a href="{{pathReporteHeladeraViandas}}" download="ReporteHeladeraViandas.csv">Descargar CSV</a>
                    </div>
                {{/hayDatos}}
            {{/grupoReportes}}
        </div>
    </div>
</main>

{{> footer}}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
