<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>



      .form-section {
          margin-bottom: 30px;
          border-color: #B8CCC8;
      }

      .form-group label {
          font-weight: bold;
      }

      .form-control {
          margin-bottom: 30px;
          border: 1px solid #1e5552;
      }

      .btn-submit {
          background-color: #1e5552;
          color: white;
      }

      h3 {
          margin: 0; /* Elimina márgenes por defecto */
          white-space: nowrap; /* Evita que el texto haga salto de línea */
      }

      h5 {
          margin: 0; /* Elimina márgenes por defecto */
          white-space: nowrap; /* Evita que el texto haga salto de línea */
          color: white; /* Color de texto */
      }

      h1, h2, h3, h5, h6 {
          font-size: 19px; /* Ajusta el tamaño de la fuente de los headers */
          font-weight: bold; /* Ajusta el peso de la fuente de los headers */
      }

      h4 {
          font-size: 16px; /* Ajusta el tamaño de la fuente de los headers */
      }

      .profile-container {
          margin-top: 50px;
      }

      .profile-photo {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 20px;
      }

      .profile-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

      .info-group {
          margin-bottom: 20px;
      }

      .label {
          font-size: 1.25rem; /* Tamaño de la descripción */
          font-weight: bold;
      }

      .value {
          font-size: 1rem; /* Tamaño del valor */
          font-weight: normal;
      }

      .points {
          font-size: 1.5rem;
          color: #1e5552;
      }

        .text-end {
            text-align: right;
        }
      .btn2 {
          border-radius: 10px; /* Bordes redondeados */
          padding: 10px 10px; /* Espaciado interno para que se vean mejor */
          width: 150px; /* Ancho fijo, ajusta según tus necesidades */
          margin-bottom: 10px; /* Espacio entre los botones */
          border: none; /* Eliminar borde predeterminado */
          cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
          font-size: 16px; /* Tamaño de fuente */
          display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
          vertical-align: middle; /* Alinea verticalmente con otros elementos en línea */
          margin-right: 10px; /* Espacio a la derecha para alinearlo con otros elementos */
          text-align: center; /* Alinea el texto al centro */
      }
      .btn2-submit {
          background-color: #1e5552;
          color: white;
          font-size: 16px;
          font-weight: normal;
      }

    </style>
</head>
<body>
{{> header}}

<main class="container profile-container my-5">
    <div class="row">
        <div class="col-md-3">
            <img src="/static/user-photo.png" alt="Foto del usuario" class="profile-photo">
        </div>
        <div class="col-md-9 profile-info">
            <!-- Información del perfil -->
            {{#esPersonaHumana}}
                <div class="info-group">
                    <div class="label">Nombre y Apellido</div>
                    <div class="value">{{nombre}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Tipo de Documento</div>
                    <div class="value">{{tipoDoc}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Número de Documento</div>
                    <div class="value">{{nroDoc}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Fecha de Nacimiento</div>
                    <div class="value">{{fechaNacimiento}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Domicilio</div>
                    <div class="value">{{direccion}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Teléfono</div>
                    <div class="value">{{telefono}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Mail</div>
                    <div class="value">{{email}}</div>
                </div>
            {{/esPersonaHumana}}

            {{#esPersonaJuridica}}
                <div class="info-group">
                    <div class="label">Razón Social</div>
                    <div class="value">{{nombre}}</div>
                </div>
                <div class="info-group">
                    <div class="label">CUIT</div>
                    <div class="value">{{cuit}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Tipo Jurídico</div>
                    <div class="value">{{tipoJuridico}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Rubro</div>
                    <div class="value">{{rubro}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Domicilio</div>
                    <div class="value">{{direccion}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Teléfono</div>
                    <div class="value">{{telefono}}</div>
                </div>
                <div class="info-group">
                    <div class="label">Mail</div>
                    <div class="value">{{email}}</div>
                </div>
            {{/esPersonaJuridica}}
        </div>
    </div>

    {{#notificacionCambio}}
        <div class="text-{{tipo}}">{{mensaje}}</div>
    {{/notificacionCambio}}

    <!-- Botón alineado a la derecha -->
    <div class="row">
        <div class="col-md-12 text-end">
            <button class="btn2 btn2-submit" onclick="window.location.href='/configurarPerfil'">Editar perfil</button>
        </div>
    </div>
</main>




{{> footer}}

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>