<!-- Aca deberia llegar con el link que reciba en el mail -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cuentaCreada</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>


        main {
            flex-grow: 1;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            height: 90vh;
        }

        .validation-container {
            max-width:  700px;
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .heladera-list {
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 8px;
            max-height: 200px;
        }

        .heladera-item {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            max-height: 180px;
            display: flex;
            flex-direction: column;
        }

        .heladera-item h5 {
            font-size: 16px;
            font-weight: bold;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .btn-volver,
        .btn-add,
        .btn-donate,
        .btn-subscribe {
            background-color: #1e5552;
            color: white;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
        }

        .btn-volver:hover, .btn-donate:hover, .btn-subscribe:hover {
            background-color: #114c49;
            color: white;
        }

        .btn-volver2:hover {
            background-color: #B7C9C7;
            color: #114c49;
        }

        .btn-volver2{
            background-color: #B7C9C7;
            color: #1e5552;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 8px;
            border: none;
        }

        .form-donation {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input {
            border-radius: 8px;
            padding: 8px;
        }

        p {
            font-size: 16px;
            color: #666;
        }
        @media (max-width: 768px) {
            .card {
                max-width: 100%;

        }

    </style>

</head>
<body>
{{> header}}

<main class="container d-flex justify-content-center">
    <div class="validation-container">
        <h1>Canjeaste un producto/servicio con exito.</h1>
        <div class="mt-5">
            <a href="/canjearPuntos" class="btn-volver">Volver a canjear</a>
            <a href="/inicio" class="btn-volver2">Volver a Inicio</a>
        </div>

    </div>
</main>


{{> footer}}


<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>