<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Visita</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>


        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background-color: white;
        }

        form {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .btn-registrar {
            border: none;
            padding: 10px 20px; /* Adjusted padding to prevent text overflow */
            vertical-align: middle;
            border-radius: 5px;
            font-size: 25px;
            margin: 15px;
            width: auto; /* Adjusted width to auto */
            white-space: nowrap; /* Prevent text from wrapping */
            text-align: center; /* Center text inside the button */
        }


        .btn-registrar {
            background-color: #1e5552;
            color: white;
        }

        .btn-registrar:hover {
            background-color: #274597;
            color: white;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
        }

        .heladera-list {
            background-color: white;
            padding: 10px;
            border-radius: 8px;
            max-height: 200px;
        }

        .heladera-item {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            max-height: 180px;
            display: flex;
            flex-direction: column;
        }

        .heladera-item h5 {
            font-size: 16px;
            font-weight: bold;
        }

        .heladera-item p {
            font-size: 16px;
            line-height: 0.9;
        }

    </style>
</head>

<body>

{{>header}}

<main>
    <div class="container">
        <h1 style="font-family: 'Poppins', sans serif; font-weight:700; color: #1e5552" class="mb-5">Registrar Visita</h1>
        <form action="/registrarVisita" method="post">
            <div class="row mb-3">
                <div class="form-group">
                    <h4 style="font-family: 'Poppins', sans-serif; font-weight: 700;">Heladera</h4>
                    <div class="input-group">
                        <select onclick="setearHeladera(this)" class="form-control form-select" name="id_heladera">
                            <option value="unselected" selected>Seleccionar heladera</option>
                            {{#heladeras}}
                                <option value="{{id}}">{{nombre}}</option>
                            {{/heladeras}}
                        </select>
                    </div>
                </div>
                <div class="heladera-list">
                    {{#heladeras}}
                        <div class="heladera-item" data-id="{{id}}" style="display: none">
                            <select class="form-control form-select" name="id_incidente" >
                                <option value="unselected" selected>Seleccionar incidente</option>
                                {{#incidentes}}
                                    <option value="{{id}}">{{descripcion}}</option>
                                {{/incidentes}}
                            </select>
                        </div>
                    {{/heladeras}}
                </div>
            </div>
            <div class="row mb-3">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="row mb-3">
                        <label for="Descripcion Falla" class="form-label">Descripción</label>
                        <input type="text" class="form-control" name="descripcion" id="descripcion">
                        </div>
                    </div>
                    <div class="pl-3" style="padding-top: 35px">
                        <input type="checkbox" id="checkBoxResolvioProblema" name="checkBoxResolvioProblema" onclick="toggleSolucionado()">
                        <label for="checkBoxResolvioProblema" class="ml-2 mb-0">El inicidente fue solucionado.</label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="btn-group">
                        <button type="submit" class="btn-registrar">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

{{>footer}}

<script>

    document.addEventListener('DOMContentLoaded', (event) => {
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('fechaDonacion1').value = today;
    });

    function validateForm(){
        const heladeraId = document.getElementById('heladeraId').value;

        if (!heladeraId) {
            alert('Es necesario elegir una heladera');
            return false;
        }

        return true;
    }

    function setearHeladera(event) {
        let idHeladeraSeleccionada = event.value;
        document.querySelectorAll('.heladera-item').forEach((element) => {
            if (element.getAttribute('data-id') === idHeladeraSeleccionada) {
                element.style.display = 'block';
            } else {
                element.style.display = 'none';
            }
        });
    }


</script>

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

</script>
</body>

</html>