<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Vulnerable</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>


        main {
            flex: 1; /* Esto hace que el contenido principal crezca para llenar el espacio restante */
            display: flex;
            flex-direction: column;
            margin-bottom: 100px; /* Espaciado adicional para asegurar que el footer no se superponga */
        }

        .validation-container {
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
        }

        p {
            font-size: 16px;
            color: #666;
            width: 80%;
            justify-content: center;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 40px;
        }
        
        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }


    </style>
</head>
<body>

{{> header}}
<main class="center-content">
    <div class="validation-container">
        <h1>Se registró exitosamente la persona vulnerable.</h1>
        <p>Ya se puede entregar la tarjeta asociada a esta persona.</p>
    </div>
</main>


{{> footer}}


<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
