<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registrar persona vulnerable </title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        main {
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            padding: 50px 20px;
            background-color: white;
        }

        @media (max-width: 768px) {
            .card {
                max-width: 100%;
            }
        }

        .form-container {
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }


        input[type="text"],
        input[type="date"],
        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        /* Ajustes para el espaciado de los campos del formulario */
        .form-group {
            margin-bottom: 10px;
        }
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }
       label {
         font-weight: 500;
        }
        .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .btn-cancelar,
        .btn-registrar {
            border: none;
            padding: 10px 20px; /* Adjusted padding to prevent text overflow */
            vertical-align: middle;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            margin: 15px;
            width: auto; /* Adjusted width to auto */
            white-space: nowrap; /* Prevent text from wrapping */
            text-align: center; /* Center text inside the button */
        }

        .btn-cancelar {
            background-color: #B7C9C7;
            color: #1e5552;
        }

        .btn-cancelar:hover {
            background-color: #9aacab;
            color: #143c3a;
        }

        .btn-registrar {
            background-color: #002B80;
            color: white;
        }

        .btn-registar:hover {
            background-color: #00215c;
            color: white;
        }
</style>
</head>


<body>

{{>header}}

<main class="container mb-5 mt-3">
        <h1 style="font-weight:700; font-family: 'Poppins', sans serif; color: #1e5552">Registrar persona vulnerable</h1>
        <p class="mb-5" style="font-family: 'Poppins', sans serif;">Complete el formulario para comenzar a repartir tarjetas.</p>
    <div class="form-container d-flex justify-content-center">
        <form id="registroForm" action="/registroPersonaVulnerable" method="post">
            <div class="row my-3">
                <div class="col-md-6">
                    <label for="nombre">Nombre de Persona Vulnerable</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="col-md-6">
                    <label for="fecha">Fecha de nacimiento</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-4">
                    <label for="documento">¿Posee documento?</label>
                    <select class="labelDesplegable" id="documento" name="tieneDoc" required>
                        <option value="0">No</option>
                        <option value="1">Sí</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="numero-documento">Número de documento</label>
                    <input type="text" id="numero-documento" name="numDoc">
                </div>
                <div class="col-md-4">
                    <label for="tipoDoc">Tipo de Documento</label>
                    <select class="labelDesplegable" id="tipoDoc" name="tipoDoc" required>
                        <option value="" disabled selected></option>
                        <option value="01">DNI</option>
                        <option value="02">LC</option>
                        <option value="03">LE</option>
                    </select>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-6">
                    <label for="menores">¿Posee menores a cargo?</label>
                    <select class = "labelDesplegable" id="menores" name="tieneMenores" required>
                        <option value="0">No</option>
                        <option value="1">Sí</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="cantidad-menores">Cantidad de menores a cargo</label>
                    <select class = "labelDesplegable" id="cantidad-menores" name="cantidadMenores">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-12">
                    <label for="tarjeta">Número de tarjeta asociada</label>
                    <input type="text" id="tarjeta" name="numTarjeta">
                </div>
            </div>

            <div class="buttons">
                <div class="btn-group d-flex justify-content-center">
                    <button type="button" class="btn-cancelar" onclick="window.location.href='/elegirDonacionFisica'">Cancelar</button>
                    <button type="submit" class="btn-registrar">Registrar</button>
                </div>

                <div id="mensaje-tarjeta" style="display: none; color: green; margin-top: 10px;"></div>
                <!-- <button type="button" class="register-button" onclick="submitForm()">Registrar</button> -->

                {{#errorRegistroVulnerable}}
                    <div class="error-message">{{errorRegistroVulnerable}}</div>
                {{/errorRegistroVulnerable}}
            </div>
        </form>
    </div>
</main>

{{>footer}}

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>