<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportar falla técnica</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>


        main {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background-color: white;
        }

        form {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
        }

        .upload-area {
            border: 2px dashed #ced4da;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            background-color: #f8f9fa;
            color: #6c757d;
            position: relative;
            cursor: pointer;
        }

        .upload-area:hover {
            background-color: #e9ecef;
        }

        .upload-area input[type="file"] {
            display: none;
        }

        .upload-icon {
            font-size: 50px;
            color: #6c757d;
        }

        .upload-area p {
            margin: 10px 0;
        }

        .upload-area a {
            color: #007bff;
            text-decoration: none;
        }

        .upload-area a:hover {
            text-decoration: underline;
        }

        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .btn-cancelar, .btn-reportar {
            border: none;
            padding: 10px 90px;
            border-radius: 5px;
            font-size: 16px;
            margin: 0 15px;
        }

        .btn-cancelar {
            background-color: #e0e0e0;
            color: black;
        }

        .btn-reportar {
            background-color: #1e5552;
            color: white;
        }
        .btn-reportar:hover {
            background-color: #274597;
            color: white;
        }
        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }


        @media (max-width: 768px) {
            .card {
                max-width: 100%;
            }
        }

    </style>
</head>
<body>
{{> header}}

<main>
    <div class="container">
        <h1>Reportar falla técnica</h1>

        <!-- Formulario -->
        <form action="/reportarFallaTecnica" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="4" placeholder="Descripción de la falla técnica"></textarea>
            </div>

            <div class="form-group">
                <label for="foto">Foto</label>
                <div class="upload-area" id="uploadArea">
                    <input type="file" id="fileInput" name="file" accept="image/*">
                    <div id="dropZone" class="drop-zone">
                        Arrastra y suelta el archivo aquí
                    </div>
                    <p id="fileName" class="mt-2"></p>
                </div>
            </div>

            <div class="btn-group">
                <a href="/visualizarFallasTecnicas" class="btn-cancelar">Cancelar</a>
                <input type="hidden" name="heladeraId" value="{{heladeraId}}">
                <button type="submit" class="btn-reportar">Reportar</button>
            </div>

        </form>
    </div>
</main>

{{> footer}}
<script>
    const dropZone = document.getElementById('dropZone');
    const fileInput = document.getElementById('fileInput');
    const fileName = document.getElementById('fileName');

    dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropZone.classList.add('drop-zone-hover');
    });

    dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('drop-zone-hover');
    });

    dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropZone.classList.remove('drop-zone-hover');
        const files = e.dataTransfer.files;
        fileInput.files = files;
        fileName.textContent = `Archivo seleccionado: ${files[0].name}`;
    });

    dropZone.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', () => {
        if (fileInput.files.length > 0) {
            fileName.textContent = `Archivo seleccionado: ${fileInput.files[0].name}`;
        }
    });
</script>
<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>