<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis colaboraciones</title>
    <!-- Enlace a CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        main {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px 20px;
            background-color: white;
        }

        .tarjetas-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .collaboration {
            padding: 15px;
            border-width: 1px;
            border-style: solid;
            border-color: #a8a8a8;
            border-radius: 10px;
            margin-bottom: 10px;
            min-height: 80px;
            width: 100%;
        }

        .add-button {
            background-color: #1e5552;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            white-space: nowrap;
            margin-bottom: 30px;
        }

        .add-button:hover {
            background-color: #2e4372;
        }

        .btn-tarjetas{
            background-color: #B8CCC8;
            color: #000000;
            padding: 10px 20px;
            border-radius: 10px;
            border-width: 0px;
            font-weight:600;
        }
        .btn-tarjetas:hover {
            background-color: #94a6a3;
            text-decoration: none;
        }
        .btn-tarjetas:active {
            border-width: 0px;
        }

    </style>
</head>

<body>

{{>header}}

<main class="container mb-5 mt-3">
    <div class="cont mb-5 d-flex justify-content-between align-items-center">
        <h1 style="font-weight:700; font-family: 'Poppins', sans-serif; color: #1e5552;">Tarjetas entregadas</h1>
        <button class="btn-tarjetas" onclick="window.location.href='/registroPersonaVulnerable'">Entregar otra tarjeta</button>
    </div>
    <div class="tarjetas-container">
        <!-- Colaboraciones -->
        {{#tarjetas}}
            <div class="collaboration">
                <h4 style="font-weight:700; font-family: 'Poppins', sans serif;">{{nombre}}</h4>
                <p><b>Fecha de registro:</b> {{fechaRegistro}}</p>
                <p><b>{{tipoDocumento}}:</b> {{numeroDocumento}}</p>
                <p><b>Menores a cargo:</b> {{menoresACargo}}</p>
                {{^poseeDomicilio}}
                    <p><b>Domicilio:</b> en situación de calle.</p>
                {{/poseeDomicilio}}
                {{#poseeDomicilio}}
                    <p><b>Domicilio:</b> {{domicilio}}</p>
                {{/poseeDomicilio}}
            </div>
        {{/tarjetas}}
    </div>

</main>


{{>footer}}

<!-- Enlace a JavaScript de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
