<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración del Perfil</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>


        .form-section {
            margin-bottom: 30px;
            border-color: #B8CCC8;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-control {
            margin-bottom: 30px;
            border: 1px solid #1e5552;
        }
        .btn-submit {
            background-color: #1e5552;
            color: white;
        }
        h3 {
            margin: 0;
            white-space: nowrap;
        }
        h5 {
            margin: 0;
            white-space: nowrap;
            color: white;
        }
        .footer-bg {
            background-color: #B7C9C7;
            padding: 20px 0;
        }
        .social-icons a {
            margin-right: 15px;
            color: white;
        }
        .footer-link {
            color: white;
            text-decoration: none;
        }
        .footer-link:hover {
            text-decoration: underline;
        }
        .social-icon {
            margin-right: 10px;
        }

        h1 {
            font-size: 23px;
            font-weight: bold;
        }

        h2, h3, h5, h6 {
            font-size: 19px;
            font-weight: bold;
        }
        h4 {
            font-size: 16px;
        }
        .profile-container {
            margin-top: 50px;
        }
        .profile-photo {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }
        .profile-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info-group {
            margin-bottom: 20px;
        }
        .label {
            font-size: 1.25rem;
            font-weight: bold;
        }
        .labelTipoDoc {
            font-size: 1.25rem;
            font-weight: bold;
            width : 70px;
            height : 30px;
        }
        .value {
            font-size: 1rem;
            font-weight: normal;
        }
        .points {
            font-size: 1.5rem;
            color: #1e5552;
        }
    </style>
</head>
<body>
{{> header}}

<main class="container profile-container">
    <div class="row">
        <div class="col-md-3">
            <img src="/static/user-photo.png" alt="Foto del usuario" class="profile-photo">
        </div>
        <div class="col-md-9 profile-info">

            <h1>Validar Datos</h1>
            <p> </p>
            <form action="/validarDatos" method="post">
                    <div class="info-group">
                        <label for="username" class="label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nuevo usuario" required>
                    </div>
                    <div class="info-group">
                        <label for="password" class="label">Ingrese Nueva Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su nueva contraseña" required>
                    </div>
                    <div class="info-group">
                        <label for="nombre" class="label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}">
                    </div>
                    <div class="info-group">
                        <label for="apellido" class="label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" value="{{apellido}}">
                    </div>
                    <div class="info-group">
                        <label for="fechaNacimiento" class="label">Fecha De Nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" value="{{fechaNacimiento}}">
                    </div>
                    <div class="info-group">
                        <label for="tipoDoc" class="label">Tipo de Documento actual</label>
                        <select class="labelTipoDoc" id="tipoDoc" name="tipoDoc" required>
                            <option value="0">{{tipoDoc}}</option>
                            <option value="1">DNI</option>
                            <option value="2">LC</option>
                            <option value="3">LE</option>
                        </select>
                    </div>
                    <div class="info-group">
                        <label for="numeroDoc" class="label">Numero de Documento</label>
                        <input type="text" class="form-control" id="numeroDoc" name="numeroDoc" value="{{numeroDoc}}">
                    </div>
                    <div class="info-group">
                        <label for="direccion" class="label">Domicilio</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" value="{{direccion}}">
                    </div>
                    <div class="info-group">
                        <label for="telefono" class="label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" value="{{telefono}}">
                    </div>
                    <div class="info-group">
                        <label for="mail" class="label">Email</label>
                        <input type="mail" class="form-control" id="mail" name="mail" value="{{mail}}">
                    </div>
                    {{#esTecnico}} <!--  ES TECNICO  -->
                        <div class="info-group">
                            <label for="cuil" class="label">CUIL</label>
                            <input type="text" class="form-control" id="cuil" name="cuil" value="{{cuil}}">
                        </div>
                    {{/esTecnico}}
                {{#errorValidarDatos}}
                    <div> <p> <i>{{errorValidarDatos}}</i> </p> </div>
                {{/errorValidarDatos}}
                <button type="submit" class="nav-link, btn btn-submit" href="perfil">Guardar cambios</button>
            </form>
        </div>
    </div>
</main>

{{> footer}}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>