<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Alertas </title>
    <!-- Incluye Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>


        main {
            flex-grow: 1;
            padding: 20px;
            background-color: white;
        }


        .alertas-container {
            max-width: 2000px;
            margin: 50px auto;
            width: 90%;
        }

        h1 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .alerta {
            background-color: #B7C9C7;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: left;

        }

        .alerta h2 {
            margin: 0 0 5px 0;
            font-size: 18px;
        }

        .alerta p {
            margin: 5px 0;
            color: #555;
        }

        .volver-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .volver-link {
            margin-bottom: 10px;
            color: #1e5552;
        }

        .btn {
            width: auto;
        }

        .navbar-light .navbar-nav .nav-link,
        .navbar-light .dropdown-menu {
            background-color: #ffffff;
            color: #1e5552;
            font-size: 16px;
            font-weight: normal;
        }

        .navbar-light .dropdown-menu {
            width: 200px;
        }
        .navbar-light .dropdown-menu a.dropdown-item {
            color: #1e5552;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            width: 200px;

        }

        .navbar-light .dropdown-menu a.dropdown-item:hover {
            background-color: #ffffff;
            margin: 0;
            width: 200px;
        }


        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }
    </style>
</head>
<body>

{{> header}}
<div class="alertas-container">
    <div class="volver-container">
        <a href="/mapaHeladeras" class="volver-link">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
    <h1>Alertas</h1>

    <div class="alerta">
        <h2>Fraude</h2>
        <p>Fecha: 12/10/2023</p>
    </div>

    <div class="alerta">
        <h2>Temperatura anormal</h2>
        <p>Fecha: 12/10/2023</p>
        <p>Temperatura detectada: 20°C</p>
    </div>

    <div class="alerta">
        <h2>Sin detección de temperatura</h2>
        <p>Fecha: 05/10/2023</p>
    </div>
</div>

{{> footer}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>