<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización de Heladeras</title>
    <!-- Incluye Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
            margin-top: 30px;

        }
        p {
            margin-bottom: 20px;
        }

        .info {
            margin-bottom: 15px;
        }

        .info span {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .action-link {
            display: block;
            color: black;
            text-decoration: none;
            margin-top: 10px;
            font-weight: bold;
        }

        .action-link::after {
            content: ">";
            padding-left: 5px;
        }

        #main {
            margin-bottom: 100px; /* Espaciado adicional para asegurar que el footer no se superponga */
        }

        h2 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: #1e5552; /* Color de texto */
             font-size: 20px;

        }

        h7 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: black; /* Color de texto */
            font-size: 15px;
        }

        h5 {
            margin: 0; /* Elimina márgenes por defecto */
            white-space: nowrap; /* Evita que el texto haga salto de línea */
            color: white; /* Color de texto */
        }
        .map-container, .list-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .map-container {
            margin-bottom: 20px; /* Espaciado adicional entre el mapa y el footer */
        }

        #map {
            width: 100%;
            height: 500px;
            border-radius: 10px;
        }

        .list-group-item {
            cursor: pointer;
            border-radius: 10px;
            padding: 10px;
            background-color: #ebece3;
            transition: background-color 0.3s;
            margin-bottom: 7px;
        }

        .list-group-item:hover {
            background-color: #e2e6ea;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            height: 100%; /* Asegura que el body y html ocupen el 100% de la altura */
        }

        .no-arrow-select {
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
            appearance: none; /* Quita la flecha en navegadores compatibles */
        }
        .custom-select2 {
              display: block;
              width: 60%;
              height: 1.5rem; /* Altura reducida */
              padding: 0.1rem 0.3rem; /* Menor espacio interno */
              font-size: 0.875rem; /* Tamaño de texto más pequeño */
              line-height: 1.25; /* Ajusta la altura de línea */
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
        }



        .btn-suscribirse{
            background-color: #002B80;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight:600;
            margin-right: 20px;
        }
        .btn-suscribirse:hover {
            background-color: #00215c;
            text-decoration: none;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .suscripcionModal {
            padding: 20px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            max-width: 700px;
            width: 30%;
            text-align: center;
            position: relative;
        }

        .close {
            color: #aaa;
            position: absolute;
            right: 9px;
            top: 8px;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

      </style>

</head>
<body>

{{>header}}
<main class="contenedor p-5" id="main">
    <h1 class="mb-5" style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1e5552;">Visualización de heladeras</h1>
    <div class="row">
        <div class="col-md-7 map-container">
            <div id="map"></div>
        </div>
        <div class="col-md-5 mt-4 mt-md-0">
            <div class="d-flex justify-content-between align-items-center">
                <h3 style="font-family: 'Poppins'; font-weight: 600; font-size: 36px">{{nombre}}</h3>
                <button class="btn-suscribirse" onclick="openModal()" >Suscribirse</button>
            </div>

            <p>{{direccion}}</p>

            <div class="info">
                <span>Estado</span>
                {{estado}}
            </div>

            <div class="info">
                <span>Disponibilidad</span>
                {{disponibilidad}} viandas
            </div>

            <div class="info">
                <span>Fecha de inicio de funcionamiento</span>
                {{fecha}}
            </div>

            <a href="/visualizarAlertas?heladeraId={{heladeraId}}" class="action-link">Alertas</a>
            <a href="/visualizarFallasTecnicas?heladeraId={{heladeraId}}" class="action-link">Fallas técnicas</a>

            {{#notificacionSuscripcion}}
                <hr class="my-3" style="border-top: 2px solid #D3D3D3;">
                <div class="text-{{tipo}}" style="margin-top: 10px">{{mensaje}}</div>
            {{/notificacionSuscripcion}}

            <!-- Modal -->
            <div id="suscripcionModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <form id="suscripcionForm" action="/suscribirse" method="post">
                        <h2 class="info" style="font-family: 'Poppins'; font-weight: 600; font-size: 24px; margin-top: 10px;">Suscribirme a heladera</h2>
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <label for="filterSelect"> <b>Tipo de suscripcion:</b></label>
                            <select class="custom-select" style="max-width:500px" id="filterSelect" name="tipoSuscripcion" onchange="toggleSuscripcionVianda()">
                                <option value="" disabled selected>Elegir tipo suscripción...</option>
                                <option value="1">Notificarme cuando queden pocas viandas</option>
                                <option value="2">Notificarme cuando quede poco espacio en la heladera</option>
                                <option value="3">Notificarme cuando haya un desperfecto</option>
                            </select>
                        </div>
                        <div id="suscripcion-vianda" style="display: none;">
                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                <label><b>Ingrese cantidad de viandas:</b></label>
                                <input class="form-control" type="number" id="cantidad" name="cantidad" style="max-width:430px" min="1">
                            </div>
                        </div>
                        <input type="hidden" id="nombre" name="nombre" value="{{nombre}}">
                        <input type="hidden" id="direccion" name="direccion" value="{{direccion}}">
                        <input type="hidden" id="latitud" name="latitud" value="{{latitud}}">
                        <input type="hidden" id="longitud" name="longitud" value="{{longitud}}">
                        <input type="hidden" id="fecha" name="fecha" value="{{fecha}}">
                        <input type="hidden" id="estado" name="estado" value="{{estado}}">
                        <input type="hidden" id="disponibilidad" name="disponibilidad" value="{{disponibilidad}}">
                        <div id="suscribirse-container" style="display: none; margin-top: 10px;">
                            <input type="hidden" name="heladeraId" value="{{heladeraId}}">
                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                <label><b>Medio de contacto:</b></label>
                                <select class="custom-select" style="max-width:500px" id="medioContacto" name="medioDeContacto">
                                    <option value="" disabled selected>Elegir medio</option>
                                    {{#medios}}
                                        <option value="{{tipo}}">{{tipo}}</option>
                                    {{/medios}}
                                </select>
                            </div>


                            <button type="submit" class="btn-suscribirse mt-3">Suscribirme</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- AIzaSyBb5mC9pmmrsoAdUAxHfvE4Z2iW260tlUY -->

{{>footer}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb5mC9pmmrsoAdUAxHfvE4Z2iW260tlUY"></script>
<script>

    let map;
    let markers = [];

    function openModal() {
        document.getElementById("suscripcionModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("suscripcionModal").style.display = "none";
    }


    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.599722, lng: -58.381944 },
            zoom: 13
        });

          const marker = new google.maps.Marker({
        position: { lat: parseFloat('{{latitud}}'), lng: parseFloat('{{longitud}}') },
        map: map,
        title: '{{nombre}}'
});

        markers.push(marker);
    }

    document.addEventListener("DOMContentLoaded", initMap);
</script>

<script>
    // Función para obtener el valor de un parámetro de la URL
    function getParameterByName(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    // Obtener el nombre de la heladera de la URL
    const heladeraName = getParameterByName('name');

    // Mostrar los detalles de la heladera
    document.getElementById('heladeraDetails').innerText = `Mostrando detalles para la heladera: ${heladeraName}`;

    // Redirigir al archivo de fallas técnicas con el nombre de la heladera
    document.getElementById('fallasTecnicasBtn').addEventListener('click', function() {
        window.location.href = `/visualizarFallasTecnicas?name=${heladeraName}`;
    });
</script>


<script>
    function toggleSuscripcionVianda() {
        // Obtiene el valor seleccionado del desplegable
        const selectedValue = document.getElementById('filterSelect').value;

        // Referencias a las secciones
        const suscripcionVianda = document.getElementById('suscripcion-vianda');
        const suscribirseContainer = document.getElementById('suscribirse-container');

        // Lógica para mostrar u ocultar las secciones
        if (selectedValue === '1' || selectedValue === '2') {
            suscripcionVianda.style.display = 'block'; // Mostrar input de viandas
        } else {
            suscripcionVianda.style.display = 'none'; // Ocultar input de viandas
        }

        if (selectedValue === '1' || selectedValue === '2' || selectedValue === '3') {
            suscribirseContainer.style.display = 'block'; // Mostrar botón de suscribirse
        } else {
            suscribirseContainer.style.display = 'none'; // Ocultar botón de suscribirse
        }
    }
</script>
<!-- Incluye Bootstrap JS y sus dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>